.modal-bttn {
  cursor: pointer;
}
#cont {
  width: 90%;
  margin: 0 auto;
}
#alt-singUp,
#alt-singIn {
  border: none;
  background: none;
}
.img-hover:hover {
  opacity: 0.7;
}
.title-hover:hover {
  color: #5f5f5f;
}
body {
  background-color: rgb(190, 190, 190);
}

.forms {
  background-color: white;
  border-radius: 10px;
}
.error {
  color: red;
}
#blogBody {
  height: 250px;
}
.landing {
  margin-top: 25vh;
}

.l-font {
  font-size: 60px;
}
